# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site
.jekyll-metadata

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# SASS cache
.sass-cache

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist

